/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Main Styling start */
  
html, body {
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%; /* Для использования em. Теперь 1rem = 10px */
    overflow: auto;  
    font-family: sans-serif;
}
  
a {
    text-decoration: none;
}
  
.main-container {
    max-width: 70vw;
    margin: 0 auto;
    padding: 0px 32px;
}
  
  
  /* Main Styling end */

h1 {
    font-size: 6.2rem;
}

/* Mobiles */

@media (max-width: 641px) {

    .main-container {
        padding: 0px 1rem;
        max-width: 95vw;
    }

    h1 {
        font-size: 4.65rem;
        margin-top: 12px;
    }
  
}